/* GERAL */

*
{
    padding: 0px;
    margin: 0px;
}

body
{
    background-image: url(../imagens/fundo.png);
    background-repeat: repeat-x;
    background-color: #F4F2EC;
    font-family: "FreeSans";
}

#container
{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

/* GERAL */

/* CABEÇALHO */

header
{
    line-height: 100px;
}

header .logo a
{
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    float: left;
    text-decoration: none;
}

header .logo .logo-nacional
{
    margin-left: 10px;
    color: #A86E13;
}

header nav .menu
{
    color: #A86E13;
    float: right;
    text-transform: uppercase;
    font-size: 15px;
}

header nav .menu ul
{
    list-style-type: none;
}

header nav .menu ul li
{
    float: left;
    margin-left: 20px;
}

header nav .menu ul li a
{
    text-decoration: none;
    color: #A86E13;
}

header nav .menu ul li a:hover
{
    color: #227115;
    border-bottom: 1px solid #535858;
}

/* CABEÇALHO */

/* CONTEÚDO */

#conteudo
{
    width: 59.2%;
    float: left;
}

.titulo
{
    margin-top: 15px;
    margin-left: 15px;
    text-transform: uppercase;
    font-weight: bold;
    color: #22711B;
    font-size: 13px;
}

.video
{
    float: left;
    width: 350px;
}

.player-video
{
    margin: 15px;
}

.mapa
{
    float: left;
    width: 350px;
}

.link-mapa
{
    margin: 15px;
}

.exposicoes
{
    float: left;
    width: 350px;
}

.exposicoes ul
{
    margin-left: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.exposicoes ul li a
{
    color: #C2812D;
    text-decoration: none;
    font-size: 15px;
}

.exposicoes ul li a:hover
{
    color: #535858;
}

.historia
{
    float: left;
    width: 350px;
}

.texto-historia
{
    margin: 15px;
    text-align: justify;
    font-size: 14px;
}

a.historia-vermais
{
    text-decoration: none;
    margin-left: 15px;
    font-size: 14px;
    font-weight: bold;
    color: #C2670A;
}

a:hover.historia-vermais
{
    color: #535858;
}

/* CONTEÚDO */

/* BARRA LATERAL */

#barra-lateral
{
    width: 38.8%;
    float: right;
}

.depoimento
{
    text-align: center;
}

.visita
{
    margin-top: 10px;
    background-color: #CDC8B1;
    padding: 10px;
}

.visita .titulo
{
    margin-top: 5px;
    margin-bottom: 10px;
}

.visita label
{
    margin-left: 25px;
    font-size: 14px;
    margin-right: 5px;
}

.visita input.data
{
    width: 145px;
    height: 20px;
}

.visita input.pessoas
{
    width: 30px;
    height: 20px;
}

.visita input.botao-disponibilidade
{
    padding: 8px;
    margin-top: 10px;
    margin-left: 75px;
    font-size: 16px;
    width: 300px;
    background-color: #9B9271;
    border: none;
    color: white;
}

.galeria
{
    background-color: #EBE7DD;
    padding: 10px;
}

.fotos
{
    float: left;
    margin: 10px;
    cursor: pointer;
}

.galeria .titulo
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.galeria .imagem-fundo
{
    background-image: url("../imagens/fundo-foto.png");
    background-repeat: no-repeat;
}

.galeria .imagem
{
    margin-top: 20px;
    margin-left: 16px;
    margin-bottom: 20px;
    margin-right: 16px;
}

/* BARRA LATERAL */

/* RODAPÉ */

footer
{
    width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 0px;
}

footer .menu
{
    text-transform: uppercase;
    margin-left: 40px;
    margin-top: 20px;
}

footer .menu ul
{
    list-style-type: none;
}

footer .menu ul li
{
    float: left;
    margin-left: 15px;
    font-size: 13px;
}

footer .menu ul li a
{
    text-decoration: none;
    color: #AF6711;
}

footer .menu ul li a:hover
{
    color: #535858;
}

footer .texto
{
    font-weight: bold;
    font-size: 13px;
    margin-top: 15px;
    margin-left: 180px;
    margin-bottom: 15px;
}

/* RODAPÉ */

/* DETALHES */

.clear
{
    clear: both;
}

/* DETALHES */