*{
    margin: 0px;
    padding: 0px;
}

body
{
    background-color: #FBF8FB;
    font-family: "Noto Sans";
}

#cabecalho
{
    background: #FFC406;
    text-align: center;
    height: 163px;
    width: 100%;
}

#titulo
{
    font-size: 50px;
    color: #4D4B50;
    font-weight: bold;
    padding-top: 20px;
}

.titulo-blog
{
    color: #FFFFFF;
}

.menu
{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

a
{
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    margin: 5px;
}

a:hover
{
    background-color: white;
    color: #FFC406;
}

#conteudo
{
    margin: 20px 300px;
}

.postagem
{
    padding: 20px;
    background-color: white;
    width: 845px;
    margin-bottom: 10px;
    margin-top: 10px;
    float: left;
}

.titulo-postagem
{
    color: #FFC406;
    font-size: 30px;
    font-weight: bold;
}

.data
{
    font-size: 17px;
}

.imagem
{
    padding-top: 20px;
    padding-left: 100px;
}

.texto
{
    padding-top: 20px;
    padding-right: 10px;
    text-align: justify;
}

.vermais
{
    color: #FFC406;
    padding: 0px;
    margin: 0px;
}

.postagem-recente
{
    background-color: white;
    float: right;
    margin-bottom: 25px;
    margin-left: 25px;
    width: 391px;
    margin-top: 10px;
}

.titulo-postagemrecente-categoria
{   
    margin: 10px;
    padding: 5px;
    background-color: #DDDADD;
    color: #535255;
    font-size: 25px;
    font-weight: bold;
}

.texto-postagemrecente
{
    margin: 15px;
    text-align: justify;
}

.vermaispostagemrecente
{
    color: #FFC406;
    margin: 15px;
    padding: 0px;
}

.categorias
{
    background-color: white;
    float: right;
    margin-bottom: 50px;
    margin-left: 25px;
    width: 391px;
}

.linkscategorias
{
    color: #FFC406;
    font-size: 20px;
    padding: 0px;
    margin: 20px;
}

#rodape
{
    background-color: #DDDADD;
    text-align: center;
    margin: 20px auto;
    width: 1285px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

.clear
{
    clear: both;
}